<template name="challenges">
  <div class="template-container-challenges">
  <!-- <p>Voltooi challenges om hints over jullie target vrij te spelen</p> -->

  <ul>
    {{#each challenges}}

      <li>
        <a href="{{pathFor 'challenge'}}" title="">
         <div class="challenge_info">
          <p class="challenge_titel">{{name}}</p>
        <span>{{punten}}</span>
       </div>
        <div class="challenge_foto_mask" >
        {{#if challengesDone}}
          <img class="challenge_done" src={{challengesDone}} alt="">
        {{else}}
          <img src={{imagesURLS.[0]}} alt="">
          <div class="color_overlay"></div>
        {{/if}}
        </div>
      </a>
      </li>
    {{/each}}
  </ul>
    
  
  </div>
</template>