<template name="challenge">
  <div class="template-container-challenge">
	{{#with challenge}}	
		<img src="{{images}}" alt="">
		<h2>{{name}}</h2>		
		<div><span>{{punten}}</span></div>
		
	{{/with}}	
	<input type="file" name="file" id="file" class="myFileInput">
  	<div class="imageView">
	  	{{> profileimage }}
	  	<button type="button" class="button disabled" disabled="true">Complete Challenge</button>
  	</div>
  	<button type="button" class="submitchallenge">submit challenge</button>
  </div>
</template>