<template name="doelwit">
	<div class="template-container-doelwit">
		 <!-- <div><h2>Doelwit van de {{teamname}}</h2>
      <a href={{images}} target="_blank"><img src={{images}} alt="" class="thumbnail" /></a>
    </div> -->
		
			{{#with images}}
				
					<img class="target_foto" src="{{this.url}}" alt="">
					<!-- <img src="/images/voorbeeld_foto_rechtop.jpg" alt="" class="target_foto"> -->
				
			{{/with}}
		
		<!-- <div class="target_info">
			<h3>{{teamname}},</h3>
			<p>Dit is jullie target</p>
		</div> -->
		<div>
			<a class="knop" href="{{pathFor 'gevonden'}}">Gevonden</a>
		</div>
	</div>

</template>