<template name="layout">
	<header>
		<div class="subheader">{{> doelwit }}</div>
		<div class="target_icon"><img src="/images/target_icon.svg" alt=""></div>
		<div class="header">
			<img class="nav-knop" src="/images/icon_hamburger.png" alt="">
			<span class="titel">{{paginatitel}}</span>
			<span class="punten"><p>{{ punten }}</p> <img src="/images/icon_punten_orange.svg" alt=""></span>
		</div>

		<nav class="inactive">
			<div class="extra"><img class="nav-knop" src="/images/icon_hamburger.png" alt=""></div>
			<div class='teaminfo'>
				<!-- test image vervangen door user image -->
				<div>
					{{#with teamfoto}}
						<img src={{this.url}} alt="">
					{{/with}}

				</div>
				<ul>
					<li>Gevonden Targets: <span>3</span></li>
					<li>Poule Positie <span>51</span></li>
				</ul>
			</div>
	      	<ul class="main-nav">
					<li><a href="{{pathFor 'targetPagina'}}"><img src="/images/nav_icon_home_groen.svg" alt=""><p>Hugsafari</p></a></li>
					<li><a href="{{pathFor 'leaderboard'}}"><img src="/images/nav_icon_leaderboard_groen.svg" alt=""><p>Leaderboard</p></a></li>
					<li><a href="{{pathFor 'challenges'}}"><img src="/images/nav_icon_challenges_groen.svg" alt=""><p>Challenges</p></a></li>
					<li><a href="#"><img src="/images/nav_icon_fotostream_groen.svg" alt=""><p>Fotostream</p></a></li>
			</ul>
			<ul class='sub-nav'>
					<li><a href="#"><img src="/images/nav_icon_settings_wit.svg" alt=""><p>settings</p></a></li>
					<li><a href="#"><img src="/images/nav_icon_team_wit.svg" alt=""><p>Team</p></a></li>
					<li><a href="#"><img src="/images/nav_icon_help_wit.svg" alt=""><p>help</p></a></li>
			</ul> 

		</nav>


	</header>
	<div class="overlay"></div>
	<div class="container">

		<a href="{{pathFor 'home'}}">Home</a>
		{{#if currentUser}}
			{{> loginButtons}}
		{{/if}}
		<div id="a" class="bla">
			{{> yield}}
		</div>
	</div>
</template>
