<template name="layout">
{{#HammerTouchArea gestureMap=templateGestures}}
	<header>

		  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
		  
		<div class="subheader">{{> doelwit }}</div>
		
			

		<div class="header">
			{{#if currentUser}}
				<img class="nav-knop" src="/images/icon_hamburger2.png" alt="">
				<div class="target_icon"><img src="/images/target_icon.svg" alt=""></div>
			{{/if}}
			<!-- <span class="titel">{{paginatitel}}</span> -->
			<p class="punten"><span>|</span>{{ punten }} punten<span>|</span></p>
		</div>

		<nav class="inactive" >
			<div class='teaminfo'>
				<!-- test image vervangen door user image -->
				<div>
					{{#with teamfoto}}
						<img src={{this.url}} alt="">
					{{/with}}

				</div>
				<ul class="nav_stats">
					<li>Targets <span>{{targetsfound}}</span></li>
					<li>Leaderbord
						<span>{{#each teams}}
							{{leaderbordpositie @index}}
						{{/each}}</span>
					</li>
				</ul>
			</div>
	      	<ul class="main-nav">
					<li><a href="{{pathFor 'targetPagina'}}"><p>Hugsafari</p><span class="lijn"></span></a></li>


					<li><a href="{{pathFor 'leaderboard'}}"><p>Leaderboard</p><span class="lijn"></span></a></li>
					<li><a href="{{pathFor 'challenges'}}"><p>Challenges</p><span class="lijn"></span></a></li>

				

					<li><a href="#"><p>Fotostream</p><span class="lijn"></span></a></li>
			</ul>
			<ul class='sub-nav'>
					<li><a href="#"><img src="/images/nav_icon_settings_wit.svg" alt=""></a></li>
					<li><a href="#"><img src="/images/nav_icon_team_wit.svg" alt=""></a></li>
					<li><a href="#"><img src="/images/nav_icon_help_wit.svg" alt=""></a></li>
			</ul> 

		</nav>

	</header>
	<div class="overlay"></div>
	<div class="container">

		<a href="{{pathFor 'home'}}">Home</a>
		{{#if currentUser}}
			{{> loginButtons}}
		{{/if}}
		<div id="a" class="bla">
			{{> yield}}
		</div>
	</div>
{{/HammerTouchArea}}
</template>
