<template name="leaderboard">
	<button type="button" id="challengesleaderbord" class="disabled" disabled="true">challenges</button>
	<button type="button" id="gevondenleaderbord">gevonden</button>
	<div class="challengelist">
		<ul>
			{{#each challengeTeams}}
				<li>{{add @index}} team:{{teamName}} totaal: {{points}}</li>
			{{/each}}
		</ul>
	</div>
	<div class="gevondenlist displayNone">
		<ul>
			{{#each teams}}
				<li>{{add @index}} team:{{teamName}} aantal targets:{{findCount}}</li>

			{{/each}}
		</ul>
		
	</div>
</template>