<template name="leaderboard">
	<div class="template-container-leaderboard">
		<div class="button_leaderboards">
			<button type="button" id="challengesleaderbord" class="disabled" disabled="true">challenges</button>
	<button type="button" id="gevondenleaderbord">gevonden</button>
		</div>
	<div class="leaderbordlist challengelist">
		<ul>
			{{#each challengeTeams}}
				<li>
					<ul> 
					<span>{{add @index}}</span>
					<li>{{teamName}}</li>
					<li>punten<span>{{points}}</span></li>
				</ul>
					<img src="/images/test_foto_groep.jpg" alt="">
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="leaderbordlist gevondenlist displayNone">
		<ul>
			{{#each teams}}
				<li>
					<ul>
						<span>{{add @index}}</span>
						<li>{{teamName}}</li>
						<li>targets <span>{{findCount}}</span></li>
					</ul>
					<img src="/images/test_foto_groep.jpg" alt="">
				</li>

			{{/each}}
		</ul>
		
	</div>		
	</div>
</template>