<template name="home">
	<div class="template-container-home">
		
		<h1>Hugsafari<span>.</span></h1>
		<a class="go_to_aanmeld" href="#teamsinlog"><img src="/images/target_icon_green.svg" alt=""></a>
		<!-- <div class="photostream">
			<img src="/images/example.png" alt="">
		</div> -->
		<div class="container">
		<a name="teamsinlog">
			{{#unless currentUser}}
				<div id="login" class="login">
					{{> loginButtons}}
				</div>
			{{/unless}}

			{{#if currentUser}}
				{{#if userinteam}}
					{{> teamsInlog }}
				{{/if}}
			{{/if}}
			</a>
		</div>
	</div>
</template>