<template name="targetPagina">
	<div class="template-container-targetPagina">
  
   <img class="target_foto" src="/images/test_teamfoto.jpg" alt="">
      <!-- dit moet je doelwit worden -->
    
    <ul>
      <li><a class="knop gevonden" href="{{pathFor 'gevonden'}}">Gevonden</a></li>
      <li><a class="knop challenges" href="{{pathFor 'challenges'}}">Challenges</a></li>
    </ul>
        
       
    <div class="hints">
      <h3>Hints</h3>
    
      <ul class="hints-list">
        <li  class="hint-done"><a href="#">
            <p>Camping</p>
            <span>15</span>
          </a>
        </li>
         <li><a href="#">
            <p>Locatie</p>
            <span>| 30 |</span>
          </a>
        </li>
         <li><a href="#">
            <p>Voorstelling</p>
            <span>| 15 |</span>
          </a>
        </li>
         <li><a href="#">
            <p>Locatie</p>
            <span>| 30 |</span>
          </a>
        </li>
         <li  class="hint-done"><a href="#">
            <p>Voorstelling</p>
            <span>| 15 |</span>
          </a>
        </li>
         <li ><a href="#">
            <p>Selfie</p>
            <span>| 15 |</span>
          </a>
        </li>
      </ul>
    </div> 
  </div>

</template>