<template name="targetPagina">
	<div class="template-container-targetPagina">
    {{#with teamfoto}}
      <img class="target_foto" src="{{this.url}}" alt="">
    {{/with}}
   
      <!-- dit moet je doelwit worden -->
    
    <ul>
      <li><a class="knop gevonden" href="{{pathFor 'gevonden'}}">Gevonden</a></li>
      <li><a class="knop challenges" href="{{pathFor 'challenges'}}">Challenges</a></li>
    </ul>
        
       
    <div class="hints">
      <h3>Hints</h3>
    
      <ul class="hints-list">
      {{#each hints}}
        {{#if checkHint }}
          <li id={{_id}}  class="{{checkHint}}">
          <a href="#">
            <p>{{name}}</p>
              <span>{{tip}}</span>         
          </a>
        </li>
        {{else}}
          <li id={{_id}} class="{{checkPoints}}">
          <a href="#">
            <p>{{name}}</p>
            <span>| {{punten}} |</span>
          </a>
        </li>
        {{/if}}
        
      
      {{/each}}
 <!--         <li><a href="#">
            <p>Locatie</p>
            <span>| 30 |</span>
          </a>
        </li>
         <li><a href="#">
            <p>Voorstelling</p>
            <span>| 15 |</span>
          </a>
        </li>
         <li><a href="#">
            <p>Locatie</p>
            <span>| 30 |</span>
          </a>
        </li>
         <li  class="hint-done"><a href="#">
            <p>Voorstelling</p>
            <span>We doen het allemaal wel zelf </span><span>12:30</span>
          </a>
        </li>
         <li ><a href="#">
            <p>Selfie</p>
            <span>| 15 |</span>
          </a>
        </li>
        <li  class="hint-done"><a href="#">
            <p>Camping</p>
            <span>De koog</span>
          </a>
        </li>
         <li><a href="#">
            <p>Locatie</p>
            <span>| 30 |</span>
          </a>
        </li>
         <li><a href="#">
            <p>Voorstelling</p>
            <span>| 15 |</span>
          </a>
        </li>
         <li><a href="#">
            <p>Locatie</p>
            <span>| 30 |</span>
          </a>
        </li>
         <li  class="hint-done"><a href="#">
            <p>Voorstelling</p>
            <span>Verdrietfabriek</span> <span>15:40</span>
          </a>
        </li>
         <li ><a href="#">
            <p>Selfie</p>
            <span>| 15 |</span>
          </a>
        </li> -->
      </ul>
    </div> 
  </div>

</template>