/*

oranje: #ED7425
groen: #79E425;
	TODO:
	- Go to link in de startpagina fixed
	- jquery swipe voor navigatie en target page
	- challenges
	- leaderbord
	- targetpage
	- team aanmeld
	- team aanmeld 2
	- aansluiten bij team
	- navigatie
	- header op elke pagina oke weergeven
	- coach marks

*/


/*standaard --- Roos*/
body, html {
	padding: 0 0;
	margin: 0 0;
	font-family: "Futura";
}
body {
	padding-top:4.5em;
	
}
h1, h2, h3, h4 {
	font-weight: 200;
	color:white;
	
}
h1 {
	font-size: 4.23em;
	text-align:center;
	margin: 0 0;
}
h2 {
	font-size: 2.61em;
}

h3 {
	font-size: 1.61em;
}


p {
	font-weight: 100;
	font-size:1em;
}
ul {
	padding: 0 0;
}
li {
	list-style: none;
	
}
li > a.knop, button {
	font-family: "futura";
	font-size:1em;
	text-decoration:none;
	display:block;
	padding:.5em 1em;
	border:none;
	color:white;
	background-color: #79E425;
	text-align:center;
	width: 80%;
	max-width: 300px;
	margin:.5em auto;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	

}
label, .button , .saveTeam span{
	cursor: pointer; /* "hand" cursor */
	cursor: hand;
}
label * {
	pointer-events: none;
}
.myFileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* CSS declarations go here */


.button {
	background-color: green;
	padding: 1em;
}
img {
	max-width: 600px;
}
.disabled {
	color: #635757;
    background-color: grey;
}

/*startpagina ---- Roos*/
/* / voor de images! 

*/

.template-container-home {
	margin: 0 0;
	padding: 0 0;
	background-image: url(/images/start_bg.svg);
	background-size: cover;
	 -moz-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	min-height:100vh;
	
	position:relative;
}

.template-container-teamsInlog {
	position:absolute;
	bottom:-200px;
	padding-bottom: 5em;
	width:100%;
}

.template-container-home h1 {
	
	padding: 1em 0;
	text-align: left;
	width:80%;
	margin:0 auto;
}
.template-container-home h1 span {
	color:#ED7425;
}

.template-container-teamsInlog  ul {
	list-style: none;
	text-align: center;
}

.template-container-teamsInlog  ul li {

}

.template-container-teamsInlog  ul > li > a {
	text-decoration: none;
	padding:.5em;
	display: block;
	width:80vw;
	margin:.5em auto;
	color:white;
	text-align: center;
	background-color: #79E425;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.go_to_aanmeld {
	display:block;
	position:absolute;
	bottom:20vh;
	left:45vw;
	right:45vw;
}

.go_to_aanmeld img {
	width:2em;
}
/*Team aanmelden formulier --- Roos*/
.template-container-teamAanmelden {
	background:url(/images/teamAanmelden_bg.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	height:100vh;
}

.template-container-teamAanmelden button {
	margin-top:1em;
}

.template-container-teamAanmelden input[type="text"]{
	border:none;
	width:80vw;
	text-align: center;
	font-family: "futura";
	font-size: 1em;
	display:block;
	padding:.5em 0;
	margin:0 auto;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
}

.noImage {
	width:80vw;
	height:80vw;
	border:10px solid white;
	background:url(/images/foto_achtergrond_tekst2.png);
	background-size: 100% 100%;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	margin:.5em auto;
	text-align: center;
}

.imageView {
	display:block;
	text-align: center;
}
.imageView img {
	width:80vw;
	border:10px solid white;
	background:url(/images/foto_achtergrond_tekst2.png);
	background-size: 100% 100%;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	margin:.5em auto;
	text-align: center;
	
}
/*Team aanmelden: Teamleden ---Roos*/
.template-container-teamToevoegen {
	box-sizing: border-box;
	min-height:100vh;
	background:url(/images/teamToevoegen_bg.svg);
	background-size: auto 100%;
	background-repeat: no-repeat;
}
.template-container-teamToevoegen span{
font-family: "futura";
	font-size:1em;
	text-decoration:none;
	display:block;
	padding:.5em 1em;
	border:none;
	color:white;
	background-color: #ED7425;
	text-align:center;
	width: 80%;
	max-width: 300px;
	margin:.5em auto;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.25);
}

/*Target Pagina ---Roos*/

.template-container-targetPagina {
	box-sizing: border-box;
	min-height:100vh;
	padding-top:2em;
	background:url(/images/overzicht_bg.svg);
	background-size: cover;
	background-repeat: no-repeat;
}
.template-container-targetPagina h2 {
	margin: 0 auto;
	
	width:80vw;

	

}

.template-container-targetPagina > ul li:first-of-type a {
	background-color: #ED7425;
}

.hints-list {
	list-style: none;
	display:flex;
	width:80vw;
	margin:0 auto;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: stretch;
}
.hints-list li {
	display:block;
	box-sizing: border-box;
	width:30vw;
	height:30vw;
	margin: .5em;
	text-align: center;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.25);

}
.hints-list li > a {
	display:block;
	height:100%;
	text-decoration: none;
	position:relative;
	
}
.hints-list li > a > p {
	color:black;
	margin: 0 0;
	position:absolute;
	bottom:5px;
	width:100%;

	
}
.hints-list li:not(.hint-done) {
	background-color: white;

}
.hints-list .hint-done {
	background-color: #79E425;	
	color:white;
	border:5px solid white;
}
.hints-list .hint-done p {
	color:white;
}
.hints-list li > * > *{
	
}

.hints-list .hint-done div p {
	display:none;

}
.hints-list li a img {	
	width:100%;
	height:100%;
	box-sizing: border-box;
	position:absolute;
	left:0;
	top:0;
	padding:10% 30%;

}
.hints-list div {
	height:20px;
}
.hints-list div p {
	box-sizing: border-box;
	display:block;
	background-color: #ED7425;
	border: 2px solid white;
	float:right;
	border-radius: 100%;
	position:relative;
	left:15px;
	top:-15px;
	display:inline-block;
	color:white;
	padding: .5em;
	margin: 0 0;
}

.header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	
	padding:.5em 1em .5em 1em;
	background-color: #79E425;
	text-align: center;

}

.header .nav-knop {
	float:left;
	height:1.5em;
}
.header .punten {
	padding: 0 0;
	margin: 0 0;
	float:right;
	margin-right: 2em;
	height:2em;
	display:inline-block;
}
.header .punten img {
	height:1.5em;
	vertical-align: middle;
	display:inline-block;
}
.header .punten p {
	display:inline-block;
	color:white;
	padding: 0 0;
vertical-align: middle;
	margin:0 0;
}
.target_icon {
	position:fixed;
	/*width:100%;*/
	top:0;
	left:50%;
	z-index: 2;
	text-align: center;
	padding:.5em;
	margin-left: -30.5px;
	
}
.target_icon img {
	
	position:relative;
	bottom:0;    
    -webkit-transition:bottom .5s;
    transition:bottom .5s;
	height:1.5em;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
	
}

img.target_icon_down {
-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg) ;
    
    bottom:-85vh ;
}

/*.header > .target_icon {
	border:1px solid white;
	text-align: center;
	display:block;
	
	
}
.header > .target_icon img {
	border:1px solid red;
	width:2em;
}
.header > span.punten {
	color:white;

	float:right;
	
	

}

.header .nav-knop {
	float:left;
	width:1.2em;

}*/


.inactive {
	left:-2000px;
}

nav .extra {
	background-color: #292425; 
}
nav .extra img {
	width:1.5em;
	padding:.5em;
	float:right;
}
nav {
	z-index: 2;
	width:80vw;
	position:fixed;
	bottom:0;
	top:0;
	left:0;
	box-sizing: border-box;
	padding: 0 0;
	 -webkit-transition: left .5s ease-in-out;
    transition: left 2s ease-in-out;
	margin: 0 0;
	display:flex;
	flex-direction: column;
	align-items: stretch;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
}
nav > * {
	margin: 0 0;
	padding: 0 0;
	box-sizing: border-box;
}

nav .teaminfo {
	background-color: #292425;
	text-align: center;
	position:relative;
	flex:3 30%;
}


nav .teaminfo img {
	display: block;
	margin:0 auto;
    width:150px;
    height:auto;
   	min-width: 100%;
	min-height: 100%;
}

nav .teaminfo div {
	border-radius: 50%;
	overflow: hidden;
	height:50px;
    width: 50px;
    margin:0 auto;
    border:2px solid #79E425;
   
}
nav .teaminfo ul {
	list-style:none;
	display:flex;
	justify-content: space-between;
	box-sizing: border-box;
	position:absolute;
	width:100%;
	bottom:-20px;
}

nav .teaminfo ul li {
	display:inline-block;
	font-size: 12px;
	vertical-align: middle;

	flex:1;
	padding:.5em;
	background: #4c8d18; /* Old browsers */
background: -webkit-linear-gradient(bottom left, #4c8d18 0%, #75dc24 100%);
background: -o-linear-gradient(bottom left, #4c8d18 0%, #75dc24 100%);
background: linear-gradient(to top right, #4c8d18 0%, #75dc24 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c8d18', endColorstr='#75dc24',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

nav .teaminfo ul li span {
	display:inline-block;
	vertical-align: middle;
	float:right;
	padding: 0 1em;
	color:white;
}

nav .main-nav{
	background-color: blue;
	display:flex;
	flex-direction: column;
	flex:6 60%;
}
nav .sub-nav {
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
}



nav .main-nav > * {
	text-align: center;
	flex:2 25%;

	
}
nav .main-nav > li > a {
	display:block;
	text-decoration: none;
	color:white;
	position:relative;
	text-align: center;
	vertical-align: middle;
	padding-top: 2em;
	box-sizing: border-box;
}
nav .main-nav > li > a > * {
	position:relative;

	margin: 0 0;

}

nav .main-nav > li a img {
	text-align: center;
	margin-top:1em;
	
}
nav .main-nav > li a p {
	
	padding: 0 0;
	margin: 0 0;
}



nav > .main-nav > li:nth-of-type(1) {
	background-color: #2E282A
}
nav > .main-nav > li:nth-of-type(2) {
	background-color: #353031
}
nav > .main-nav > li:nth-of-type(3) {
	background-color: #383838
}
nav > .main-nav > li:nth-of-type(4) {
	background-color: #40383A
}
nav .sub-nav {

}
nav .sub-nav li {
	flex: 3 30%;
	text-align: center;
	box-sizing: border-box;
}
nav .sub-nav li a {
	display:block;
	color:white;
	text-decoration: none;
	background: #4c8d18; /* Old browsers */
background: -webkit-linear-gradient(bottom left, #4c8d18 0%, #75dc24 100%);
background: -o-linear-gradient(bottom left, #4c8d18 0%, #75dc24 100%);
background: linear-gradient(to top right, #4c8d18 0%, #75dc24 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c8d18', endColorstr='#75dc24',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

nav .sub-nav img {
	height:1.5em;
	padding:.5em .2em .2em .2em;
	flex:1 100%;
	margin:0 0;
}
nav .sub-nav li  p {
	flex:1 100%;
	margin-top:0;
	font-size: .8em;

}
nav .sub-nav li a {
	text-decoration: none;
	color:white;
	display:block;
	display:flex;
	flex-direction: column;
}

.overlay {
	background-color: rgba(0,0,0)
	 -webkit-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}
.donker {
	background-color: rgba(0,0,0,.5) !important;
	position:fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;

	z-index: 1
}
.template-container-doelwit.omlaag {
	top:0px;
}

.template-container-doelwit .target_info.teamnaam_omlaag {
	top:60vh;
}
/*challenge pagina  Jaimie*/
.template-container-challenge .imageView {
	position: absolute;
	-webkit-transition: .5s ease-in-out;
    transition: 2s ease-in-out;
    top: -1600px;
}
.template-container-challenge .showUpload {
    top: 71px;
}

/*doelwit slider*/
.template-container-doelwit {
	z-index: 90;
	position:fixed;
	width:100vw;
	height:80vh;
	top:-2000px;
	 -webkit-transition: top .5s ease-in-out;
    transition: top 2s ease-in-out;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
.template-container-doelwit .target_foto {
	width:100vw;
	height:80vh;
	overflow:hidden;


}
.template-container-doelwit .target_foto img {
	min-width: 100vw;
	min-height: 80vh;

}

.template-container-doelwit .target_info {
	background-image: url("/images/teamnaam_knop_bg2.png");
	background-repeat: no-repeat;
	background-size: cover;
	width:60vw;
	padding:.5em 0;
	position:fixed;
	text-align: center;
	left:20vw;
	right:20vw;
	top:-2000px;
	 -webkit-transition: top .5s ease-in-out;
    transition: top 2s ease-in-out;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
}
.template-container-doelwit .target_info p {
	color:white;
	padding: 0 0;
	margin: 0 0;
}
.template-container-doelwit .target_info h3 {
	padding: 0 0;
	margin: 0 0;
}


