/*

oranje: #ED7425
groen: #79E425;

nieuw:;
blauw: #25DAE4;
	TODO:
	- Go to link in de startpagina fixed
	- jquery swipe voor navigatie en target page
	- challenges
	- leaderbord
	- targetpage
	- team aanmeld
	- team aanmeld 2
	- aansluiten bij team
	- navigatie
	- header op elke pagina oke weergeven
	- coach marks

*/

@font-face{
    font-family: "DINPro";
    src: url('/fonts/DINPro-Regular.otf'),
  
}

svg {
	width:100%
}

/*standaard --- Roos*/
body, html {
	padding: 0 0;
	margin: 0 0;
	font-family: "DINPro";
	text-transform: uppercase;
}
body {
	/*padding-top:4.5em; uncomment om weer te kunnen inloggen*/	
	background:url(/images/bgv2.svg);

	
}

h1 {
	font-size: 4.23em;
	text-align:center;
	margin: 0 0;
}
h2 {
	font-size: 2.61em;
}

h3 {
	font-size: 1.61em;
}


p {
	font-weight: 100;
	font-size:1em;
}
ul {
	padding: 0 0;
}
li {
	list-style: none;
	
}
li > a.knop, button {
	font-family: "DINPro";
	font-size:1em;
	text-decoration:none;
	display:block;
	padding:.5em 1em;	
	text-align:center;
	

}
label, .button , .saveTeam span{
	cursor: pointer; /* "hand" cursor */
	cursor: hand;
}
label * {
	pointer-events: none;
}
.displayNone {
	display: none;
}
.selected {
	background-color: #737373;
}
.myFileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* CSS declarations go here */



.disabled {
	color: #635757;
    background-color: grey;
}

/* ===================    navigatie animatie ====== */
.menu {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 40px;
  height: 40px;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 4px solid black;
  width: 100%;
  transition: 0.3s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 12px;
}
.menu-bottom {
  top: 24px;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.3s 0.3s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.3s 0.3s;
}

/* ===================    Overzichtspagina (targetpage.html) ====== */
.hints-list .hint-disabled a {
	background-color: rgb(170, 170, 170);
}
.template-container-targetPagina {
	box-sizing: border-box;
	min-height:100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.template-container-targetPagina h3 {
	margin: 0 auto;
	width:80vw;
	margin-top: 2em;
}
.template-container-targetPagina .target_foto {
	width:100vw;
	max-height: 80vw;
}
.knop {
	margin:1.2em auto;
}
.knop.gevonden {
	color:black;
	width:60%;
	padding:.7em 0;
	background-color: white;
	border:.4em solid black;
}
.knop.challenges {
	background-color: black;
	font-size: .8em;
	color:white;
	width:40%;
	padding:.7em;
	
}
.hints-list {
	background-color: white;
	display:flex;
	padding: 0 0;
	margin: 0 0;
	margin-top:1em;
	flex-wrap: wrap;
}
.hints-list li  {
	flex:2 40%;
	height:30vw;
	margin-top:.2em;
}

.hints-list li a {
	display:flex;
	font-size: .8em;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height:100%;
	text-decoration: none;
	color:white;
background-color: #25DAE4;
	
	box-sizing: border-box;


}
.hints-list li:nth-child(odd) a {
	margin-right:.1em;
}
.hints-list li:nth-child(even) a {
	margin-left:.1em;
}
.hints-list li a > * {
	
	margin:  0 0;
	
}
.hints-list .hint-done a {
	
	border:5px solid black;
	box-sizing: border-box;
	color:black;
	padding:5px;
	background-color: white;

}
.hints-list span {
	font-size: 1.6em;
	font-weight: 700;
	color: black;;
}
.hint-done span {
	font-size: .8em;
	width: 100%;
	padding:.2em .5em;
	margin:0 auto;
	text-align: center;
	display:block;
	box-sizing: border-box;

}
/* ========================== setting ====================*/
.template-container-settings {
	padding-top: 50px;
}

/* ========================== Header =====================*/
.header {
	position:fixed;
	background:url(/images/bgv2.svg);
	background-color: white;
	top:0;
	left:0;
	width:100%;
	text-align: center;
	padding:1em 1.5em ;
	box-sizing: border-box;
	z-index: 5;
	-webkit-transition: -webkit-transform 0.2s, top .2s ease-in-out;
  	-moz-transition: -moz-transform 0.2s, top .2s ease-in-out;
  	transition: transform .2s, top .2s ease-in-out;

}

.header .nav-knop {
	position:fixed;
	left:1.5em;
	height:1.2em;
	width:0.8em;
}
.header .punten {
	margin: 0 0;
	text-align: right;
	
}

.header .punten span {
	color:#25DAE4;

}
/* ========================== Target =====================*/
.subheader {
	background-color: black;
	height:0;
}
.target_icon {
	position:fixed;
	width:50vw;
	left:25vw;
	top:0;
	z-index: 999;
	text-align: center;
	padding:2vh 0;
	
}
.target_icon img {
	
	position:relative;
	vertical-align: middle;  
    -webkit-transition:bottom .5s ease-in-out;
    transition:bottom .5s ease-in-out;
	width:.5em;
	height:1em;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
	
}

.target_icon_down img{
-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg) ;
   
}
.target_icon.down {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg) ;
   

}

.target_icon img {
	width:50px;
}

.target-div-container {
	height:0;
}
.template-container-doelwit {
	position:fixed;
	top:-75vh;
	width:100%;
	overflow:hidden;
	position:relative;
	display:block;
	height:75vh;
-webkit-transition: -webkit-transform 0.2s ease-in-out, top .2s ease-in-out;
  	-moz-transition: -moz-transform 0.2s ease-in-out, top .2s ease-in-out;
  	transition: transform .2s ease-in-out, top .2s ease-in-out;

}
.template-container-doelwit.down {
	top:0;
}
.template-container-doelwit img {
	height:auto;
	width:100vw;
	position:absolute;
	top:0;
	left:0;
}
.template-container-doelwit .knop {
	z-index: 999;
	position:absolute;
	bottom:0;
	border:5px solid black;
	background-color: white;
	text-decoration: none;
	color:black;
	padding:.5em;
	left:10vw;
	width:80vw;
	box-sizing: border-box;
	text-align: center;

}
/*========= Navigatie animatie & veranderende classes ============*/
.scrollLock {
	overflow:hidden;
	height:100%;
	
}
.inactive {
	left:-85vw;
}

.nav_knop_schuif {
	left:81vw !imp;
}
.container {
	padding-top:9vh;
	-webkit-transition: -webkit-transform 0.2s ease-in-out, top .2s ease-in-out;
  	-moz-transition: -moz-transform 0.2s ease-in-out, top .2s ease-in-out;
  	transition: transform .2s ease-in-out, top .2s ease-in-out;
}
.body_schuif {
	-webkit-transform: translateX(79vw);
  	-moz-transform: translateX(79vw);
  	transform: translateX(79vw);
}
.container.down {
	-webkit-transform: translateY(76vh);
  	-moz-transform: translateY(76vh);
  	transform: translateY(76vh);
}
.header_schuif {
	-webkit-transform: translateX(79vw);
  	-moz-transform: translateX(79vw);
  	transform: translateX(79vw);

}
.overlay {
	background-color: rgba(0,0,0)
	 -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.donker {
	background-color: rgba(0,0,0,.5) !important;
	position:fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	z-index: 1
}
.display_none {
	display:none !important;
}

.template-container-challenge label .uploaded {
	background-color: rgba(0,0,0,.3);
	color:white;
	border-color: rgba(0,0,0,.5)
}
.header.down, .target_icon.down {
	top:75vh;
}
/*========= Navigatie knop animatie ============*/
/*link voor animatie:	

/* ========================== Navigatie =====================*/

nav {
	background-color: black; 
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:80vw;
	z-index: 10;
	-webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out;
}
nav > * {
	padding: 0 0;
	margin: 0 0;
	box-sizing: border-box !important;
	width:100%;

}



nav .teaminfo {
	height:40vh;
	display:block;
	position:relative;
	border-top:3.3em solid black;
}
nav .main-nav {
	height:50vh;
	list-style: none;
	padding: 0 0;
	display:flex;
	flex-direction: column;
	padding-bottom: 1em;

}
nav .sub-nav {
	height:10vh;
	display:flex;
	flex-direction: row;
	justify-content: space-between;

}
nav .extra img {
	height:3vh;
	width:3vh;
	margin-top:.2em;
	float:right;
}
nav .teaminfo div {
	position:absolute;
	width:100%;
	display:block;
	overflow: hidden;
	height:100%;
   
}
nav .teaminfo div img {
	display: block;
	margin:0 auto;
  	width:5px;
  	top:-10%;
    position:absolute;
    height:auto;
   	min-width: 100%;
	min-height: 100%;
}

nav .main-nav li {
	flex:2 25%;
	position:relative;
}
nav .main-nav li a {
	text-decoration: none;
	color:white;
	font-size: .8em;
	font-weight: 200;
	text-align: center;
	display:inline-block;
	width:100%;
	height:100%;
	padding-top:5vh;
	box-sizing: border-box;
	position:absolute;
	

}

nav .sub-nav {
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
}

nav .sub-nav li {
	flex: 3 33%;
	text-align: center;
	box-sizing: border-box;
}
nav .sub-nav li a {
	display:block;
	color:white;
	text-decoration: none;
}

nav .sub-nav img {
	height:1.2em;
	padding:1.5em .2em 1.2em .2em;
	flex:1 100%;
	margin:0 0;
}
nav .sub-nav li  p {
	flex:1 100%;
	margin-top:0;
	font-size: .8em;

}
nav .sub-nav li a {
	text-decoration: none;
	color:white;
	display:block;
	display:flex;
	flex-direction: column;
}


.nav_stats {
	position:absolute;
	bottom:0;
	list-style: none;
	display:flex;
	background-color: white;
	width:80vw;
	margin: 0 0;
}
.nav_stats li {
	display:inline-block;
	flex:5 50%;
	text-align: center;
	font-size: .7em;
	font-weight: 200;
	padding:.5em;
}
.nav_stats li:first-of-type {
	border-right:5px solid #25DAE4;
}
.nav_stats li span {
	color:#25DAE4;
	font-weight: 700;
}
nav span.lijn {
	background-color: white;
	height:1px;
	width:20vw;
	margin: 0 auto;
	display:block;
}
/* =====  challenges overzicht ==== */

.template-container-challenges {
	margin: 0 0;
	padding:0 0;
	 -moz-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	min-height:100vh;
	
}

.template-container-challenges img{
	width:50px;
}
.template-container-challenges ul {
	display:flex;
	flex-wrap: wrap;

	flex-direction: row;
	justify-content: space-between;
}
.template-container-challenges ul li {
	flex:2 48%;
	margin-top:.2em;
	height:30vh;
	box-sizing: border-box;
	position:relative;

}
.template-container-challenges ul li .challenge_foto_mask {
	position:absolute;
	width:100%;
	min-height:100%;
	overflow: hidden;
	
    
	
	
}
.template-container-challenges ul li .challenge_foto_mask img {
	min-width: 100%;
	min-height: 100%;
	height:auto;
	position:absolute;
}
.template-container-challenges ul li .challenge_foto_mask .color_overlay {
	position:absolute;
	width:100%;
	height:100%;
	background-color: #25DAE4;
	opacity:.5;
	
}

.template-container-challenges ul  li:nth-child(odd)  {
	margin-right:.1em;
}
.template-container-challenges ul  li:nth-child(even)  {
	margin-left:.1em;
}

.template-container-challenges ul .challenge_info {
	position:absolute;
	z-index: 2;
	width:100%;
	height:100%;
	display:flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	color:white;
	font-size: .8em;
}
.template-container-challenges ul .challenge_info * {
	padding: 0 0;
	margin: 0 0;

}
.template-container-challenges ul .challenge_info span {
	font-size:1.8em;
	font-weight: 700;
}
.template-container-challenges ul .challenge_info p{ 
	padding: 0 .8em;
	text-transform: none;

}	



/* ================================== Challenge detail pagina ====== */
.template-container-challenge {
	margin: 0 0;
	padding: 0 0;
	 -moz-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	min-height:100vh;
	text-align: center;

}
.template-container-challenge > .challenge_foto {
	width:100%;
	box-sizing: border-box;
	height:70vh;
	margin: 0 0;
	margin-bottom:1em;
	display:block;
	overflow:hidden;
	position:relative;
	
}
.template-container-challenge > .challenge_foto  img {
	min-width: 100%;
	max-height:100%;
	height:100%;
	height:auto;
	left:0;
	position:absolute;

}




.template-container-challenge label button, .template-container-challenge > button {
	background-color: white;
	border:4px solid black;
	margin: .5em auto;
	width:80vw;
	text-transform: uppercase;
	box-sizing: border-box;
	position:relative;
}

.template-container-challenge p {
	text-transform: none;
	width:80vw;
	margin: 1em auto;
	text-align: left;
}
.template-container-challenge .kop {
	width:80vw;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
}
.template-container-challenge h3 {
	text-align: left;
	font-size: 1.6em;
	margin: 0 0;
	padding:0 0;
}
.template-container-challenge .kop span {
	vertical-align: middle;
	color:#e67e22;
	font-size: 1.8em;
	display:flex;
	justify-content: space-around;
}
.template-container-challenge > button{
	background-color: #e67e22;
	border:none;
	color:white;
	text-decoration: underline;
	padding:.6em;
}
/* =================  leaderbord ========== */


.template-container-leaderboard .button_leaderboards {
	display:flex;
	border:5px solid black;
}
.template-container-leaderboard .button_leaderboards button {
	flex:5 50%;
	border:none;
	-webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
	background-color: white;
	color:black;
	text-transform: uppercase;

}
.template-container-leaderboard .button_leaderboards .disabled {
	background-color: #25DAE4;
	color:white;
}

.leaderbordlist > ul {
	margin:0 0;
}
.leaderbordlist >ul > li {
	height:25vh;
	overflow:hidden;
	position:relative;
}
.leaderbordlist > ul > li img {
	height:auto;
	width:100%;
	left:0;
	top:-20%;
	position:absolute;
}
.leaderbordlist > ul >li > ul {
	position:absolute;
	background-color: white;
	width:100%;
	z-index: 4;
	bottom:0;
	left:0;

}
.leaderbordlist > ul >li > ul > span {
	display:inline-block;
	background-color: #25DAE4;
	padding:.5em;
	height:20%;

}
.leaderbordlist > ul > li > ul > li {
	display:inline-block;
}
.leaderbordlist > ul > li > ul > li:last-of-type {
	float:right;
	padding:.5em;
}
.leaderbordlist > ul > li > ul > li:last-of-type span {
	padding: .5em;

	color:#25DAE4;
}
.leaderbordlist.gevondenlist > ul > li > ul > li:last-of-type span {
	color:#E37E22;

}
.leaderbordlist.gevondenlist > ul >li > ul > span {
	background-color:#E37E22;
}

/* ================= startpagina ========== */
.template-container-home {
}
.template-container-home h1 {
	font-size: 3em;
	text-transform: none;
	text-align: left;
	width:80%;
	margin: 0 auto;
	padding: 0 0;
}
.template-container-home h1 span {
	color:#25DAE4;
}
.template-container-home h5 {
	color:#25DAE4;
	padding: 0 0;
	margin: 0  auto;
	padding-left:.5em;
	width:80%;
}
#login {
	width:80%;
	margin: 0 auto;
}
/* ================= teams inlog/aansluiten start ========== */
.template-container-teamsInlog {

	width:100%;
	display:block;
	position:absolute;
	bottom:20vh;
}
.template-container-teamsInlog ul {
	width:80%;
	margin:0 auto;
	

}
.template-container-teamsInlog ul li a {
	text-decoration: none;
	display:block;

	border:5px solid black;
	padding:.5em 2em;
	text-align: center;
	color:black;
	background-color: white;
	margin:.5em auto;
}
/* ================= team aanmelden ========== */
.template-container-teamAanmelden {
	height:100%;
	text-align: center;
}




.noImage {
	display:flex;
	flex-direction: column;
	box-sizing: border-box;
	justify-content: center;
	width:80vw;
	height:80vw;
	border:10px solid white;
	background:url(/images/foto_achtergrond_tekst2.png);
	background-size: 100% 100%;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	margin:.5em auto;
	text-align: center;
	position:relative;
}
.imageView .icon_camera {
	width:100%;
	padding:0 40%;
	box-sizing: border-box;
}
.noImage p {
	text-transform: none;
	font-size: .8em;
	padding:0 1em;
}

.teamAanmelden_knoppen {
	position:absolute;
	bottom:7vh;
	width:100%;

}
.template-container-teamAanmelden input, .template-container-teamAanmelden button, .saveTeam {
	border:5px solid black;
	background-color: white;
	width:80%;
	margin: 0 auto;
	box-sizing: border-box;
	display:block;
	padding:.5em 0;
	text-align: center;
	font-size: 1em;
	margin-top:1em;
	font-family: "DINPro";
	text-transform: uppercase;
	
}

.template-container-teamAanmelden button.disabled {
	background-color: #9A9A9A;
	color:#E8E8E8;
	border-color:#838383;
}
.uploaded_container img{
	height:80vw;
	display:block;
	box-sizing: border-box;
	border:10px solid white;
	background:url(/images/foto_achtergrond_tekst2.png);
	background-size: 100% 100%;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	margin:.5em auto;
	text-align: center;
	position:relative;
	overflow:hidden;
}
/* ================= teamAansluiten pagina ========== */
.template_teamaansluiten_cotainer {
	padding-top:4vh;
}
.template_teamaansluiten_cotainer ul {
	margin: 0 0;
}
.template_teamaansluiten_cotainer ul li {
	border:5px solid black;
	padding:.5em 2em;
	text-align: center;
	box-sizing: border-box;
	background-color:white;
	display:block; 
	width:80vw;
	
	margin:.5em auto;
}

.template_teamaansluiten_cotainer p {
	color:#25DAE4;
	width:80%;
	text-transform: none;
	margin: 1.5em auto 1em;
	text-align: center;
}
/* ================= gevonden pagina ========== */
.template-container-gevonden {
	border:1px solid red;
}






/* =================  Vanaf hier wordt het kut ========== */

/*startpagina ---- Roos*/
/* / voor de images! 

*/
/*
.template-container-home {
	margin: 0 0;
	padding: 0 0;
	background-image: url(/images/start_bg.svg);
	background-size: cover;
	 -moz-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	min-height:100vh;
	
	position:relative;
}

.template-container-teamsInlog {
	position:absolute;
	bottom:-200px;
	padding-bottom: 5em;
	width:100%;
}

.template-container-home h1 {
	
	padding: 1em 0;
	text-align: left;
	width:80%;
	margin:0 auto;
}
.template-container-home h1 span {
	color:#ED7425;
}

.template-container-teamsInlog  ul {
	list-style: none;
	text-align: center;
}

.template-container-teamsInlog  ul li {

}

.template-container-teamsInlog  ul > li > a {
	text-decoration: none;
	padding:.5em;
	display: block;
	width:80vw;
	margin:.5em auto;
	color:white;
	text-align: center;
	background-color: #79E425;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.go_to_aanmeld {
	display:block;
	position:absolute;
	bottom:20vh;
	left:45vw;
	right:45vw;
}

.go_to_aanmeld img {
	width:2em;
	-ms-transform: rotate(180deg); /* IE 9 */ /*
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera *//*
    transform: rotate(180deg);
}
/*Team aanmelden formulier --- Roos*//*
.template-container-teamAanmelden {
	background:url(/images/teamAanmelden_bg.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	height:100vh;
}

.template-container-teamAanmelden button {
	margin-top:1em;
}

.template-container-teamAanmelden input[type="text"]{
	border:none;
	width:80vw;
	text-align: center;
	font-family: "DINPro";
	font-size: 1em;
	display:block;
	padding:.5em 0;
	margin:0 auto;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
}

.noImage {
	width:80vw;
	height:80vw;
	border:10px solid white;
	background:url(/images/foto_achtergrond_tekst2.png);
	background-size: 100% 100%;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	margin:.5em auto;
	text-align: center;
}

.imageView {
	display:block;
	text-align: center;
}
.imageView img:not(".icon_camera") {
	width:80vw;
	border:10px solid white;
	background:url(/images/foto_achtergrond_tekst2.png);
	background-size: 100% 100%;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	margin:.5em auto;
	text-align: center;
	
}
/*Team aanmelden: Teamleden ---Roos*/ /*
.template-container-teamToevoegen {
	box-sizing: border-box;
	min-height:100vh;
	background:url(/images/teamToevoegen_bg.svg);
	background-size: auto 100%;
	background-repeat: no-repeat;
}
.template-container-teamToevoegen span{
	font-family: "DINPro";
	font-size:1em;
	text-decoration:none;
	display:block;
	padding:.5em 1em;
	border:none;
	color:white;
	background-color: #ED7425;
	text-align:center;
	width: 80%;
	max-width: 300px;
	margin:.5em auto;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.25);
}
*/

/*.template-container-doelwit.omlaag {
	top:0px;
}

.template-container-doelwit .target_info.teamnaam_omlaag {
	top:60vh;
}

/*doelwit slider*/
/*.template-container-doelwit {
	z-index: 5;
	position:fixed;
	top:-120vh;
	left:0;
	text-align: center;
	height:100%;
	width:100%;
	-webkit-transition: top .2s ease-in-out;
    transition: top .2s ease-in-out;
}

.template-container-doelwit .target_foto {
	width:100%;
	left:0;
	top:0;
	position:absolute;
}

.template-container-doelwit .target_info {
	z-index: 6;
	position:absolute;
	background-image: url("/images/teamnaam_knop_bg2.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding:.5em 1em;
	text-align: center;
	width:80vw;
	left:5vw;
	bottom:20vh;
	height:4em;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
}
.template-container-doelwit .target_info p {
	color:white;
	padding: 0 0;
	margin: 0 0;
}
.template-container-doelwit .target_info h3 {
	padding: 0 0;
	margin: 0 0;
}*/
/*.template-container-doelwit {
	z-index: 90;
	position:fixed;
	width:100vw;
	height:80vh;
	top:-85vh;
	 -webkit-transition: top .2s ease-in-out;
    transition: top .2s ease-in-out;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
.template-container-doelwit .target_foto {
	
	height:80vh;
	width:100vw;
	display:block;
	text-align: center;
	overflow: hidden ;
	
  


}
.template-container-doelwit .target_foto img {
	
	display: block;
	margin:0 auto;
    
    
   	min-width: 100%;
	min-height: 100%;

	overflow: hidden ;
}
*/



